<h2>Create a Chirp</h2>

<h1>New chirp</h1>
<form action=<%= chirps_url %> method="POST">
    <label>Body:
        <input type="text" name="chirp[body]">
    </label>
    <input type="submit" value="Create a Chirp">
</form>