<h1>Hi from show.html.erb</h1>

<!--
<ul>
    <div><%# user.id %></div>
    <li><%# user.username %></li>
    <li><%# user.age %></li>
    <li><%# user.email %></li>
    <br>
</ul>
--> 

<%= render 'user', user: @user, action: :show %>

<!-- 

<% %> - er + tab
<%= %> - pe + tab

Cycle extension - "shift + ctrl + `"

-->